/*Spotify icon by Icons8 */
.icons8-Spotify { /* Customizes Spotify icon */
    fill: #false;
    width: 26px;
    height: 26px;
}

.icon { /* Customizes all icons at once */
    display: inline-block;
}
